

#content {
	width: 600px;
	margin: auto;
	.navbar {
		border-radius: 0;
		margin-bottom: 0;
		border-left-color: transparent;
		border-right-color: transparent;
		button {
			margin: 10px;
		}
		.checkbox {
			margin: 15px 10px;
		}
	}
}

@import "task/edit-task";

#tasks {
	@import "task/show-task";
	@import "task/no-task";
}

.border-ver {
	position: absolute !important;
	width: 1px;
	background-color:  $gray-color;
	height: 100%;
	left: calc(100% / 3);
}




.left {
	float: left;
}

.right {
	float: right;
}

