$gray-color: #E7E7E7;
$gray-dark-color: #9E9E9E;
$gray-light-color: #f8f8f8;
$priority-low-color: blue;
$priority-medium-color: green;
$priority-high-color: red;
$status-opened-color: lightblue;
$status-pending-color: yellow;
$status-completed-color: green;