<div class="task">
    <div class="status-color opened">

    </div>
    <div class="col-xs-4">

        <div class="status-change">
            <span class="glyphicon glyphicon-play"></span>
        </div>
        <div class="title">
            <p>Task examples</p>
        </div>
    </div>
    <div class="border-ver"></div>
    <div class="col-xs-8">
        <div class="description">
            <p>The ability of students to solve tasks is important for the development of their various skills. Students should be able to understand the information given, identify the critical features and their interrelationships, construct or apply an external representation, finally, take right decision for solving the task. Interest in contest essentially depends on tasks. </p>
        </div>
        <div class="control">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon glyphicon-remove"></span>
        </div>
        <div class="options">
            <div class="col-9">
                <span class="glyphicon glyphicon-map-marker"></span>
                03/30/2016 13:23
            </div>
            <div class="col-9">
                <span class="glyphicon glyphicon-flag"></span>
                03/30/2016 13:23
            </div>
            <div class="col-6">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                Low
            </div>
        </div>
    </div>
</div>