.task.editing {
  padding: 15px;
  .input-group {
    width: 50%;
  }
  select {
    -webkit-appearance: none;
  }
}
@media screen and (max-width: $brake-point) {
  .task.editing {
    padding: 10px;
    .input-group {
      width: 80%;
    }
  }
}